.container{
    width: 375px;
    height: 1496px;
    margin: 50px auto;
    background: #EDF1F5;
    padding: 15px 0 0 0;
}
.form h4 {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   align-items: center;
   text-align: center;
   color: #34495E;
   margin: 25px;
}



.form-input{
   width: 100%;
   height: 40px;
   padding: 5px 15px;
}







.text-input{
   display: inline-block;
   vertical-align: top;
   position: relative;
}
 .text-input input{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   align-items: center;
   color: #242021;
    width: 290px;
    height: 80px;
    border: none;

    outline: none;
    min-width: 229px;
    padding: 0.6em 3.7em;

    border-radius: 5px;
    background: #fff url("/images/unchecked.png") 260px 28px no-repeat ;
    
    padding: 0 0 0 25px;
    margin: 15px 30px;
 } 
 .text-input input:focus{
     border: 1px solid #50A900;
     background: #fff url("/images/checked.png") 260px 28px no-repeat ;
 }

input:focus::placeholder{
   transform: translateY(-30px);
   font-size: 12px;
   color: #81909F;
}

 .input_password input{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;
    width: 290px;
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 0 0 0 25px;
    margin: 15px 27px;
 }
 .input_password input:focus{
    border: 1px solid #50A900;
}
 /* .text-input input:active{
    border: 1px solid #50A900;
    background: #fff url("checked.png") 260px 28px no-repeat ;
} */

 .text-input textarea{
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   align-items: center;
   color: #81909F;
   border-radius: 5px;
    width: 290px;
    height: 80px;    
    font-size: 20px;   
    float: left;
    border: none;
    padding: 0 0 0 25px;
    margin: 15px 30px;
    resize: none;
 } 
 .text-input textarea:focus{
    border: 1px solid #50A900;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    align-items: center;
    color: #242021;
 }


 .checkbox_input input{
    border: none;
    margin: 15px 17px 0 10px;
 }

 .checkbox_input label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    align-items: center;
    color: #242021;
 }

 .regular_checkbox {
   z-index: -1;
   opacity: 0;
 }
 
 .regular_checkbox+label::before {
   content: '';
   display: inline-block;
   width: 1.6em;
   height: 1.6em;
   background-color: #ffffff;
   border: 1px solid #adb5bd;
   border-radius: 0.25em;
   margin-right: 1em;
   margin-bottom: -0.5em;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
 }
 
 .regular_checkbox:checked+label::before {
   border-color: #50a900;
   background-color: #50a900;
   background-image: url("/images/Path.svg");
 }

 .change_password button{
    border: none;
    width: 315px;
    height: 80px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    align-items: center;
    text-align: center;
    
    margin: 15px 0 0 27px;
    color: #FFFFFF;
    background: #50A900;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
 }
 
 



 
