<template>
    <div id="first-page">
        <div>
            <div>{{firstName}}</div>
            <div>{{lastName}}</div>
            <div>{{date}}</div>
            <div>{{currencyStep}}</div>
        </div>
        <div>
            <input v-model="firstName"/>
            <input v-model="lastName"/>
            <input v-model="date"/>
        </div>
        <div>
            <button @click="nextStep">Touch me</button>
            <button @click="backStep">Touch me</button>
        </div>
    </div>
</template>


<script>


export default {

  name: 'first-page',
  data(){
    return {
        firstName: 'Aleksey',
        lastName: 'Gryzlov',
        date: '27/06/2002',
        currencyStep: 1
    }
  },
  methods: {  
    nextStep(){
      this.currencyStep++;
    },
    backStep(){
      this.currencyStep--;
    }
  }
}
</script>