<template>
    <div id="table-page" >
<!--      <ButtonComponent @clickButton='sortArray' v-bind:array="postsData"-->
<!--      :text="'Touch me'"/>-->
<!--      <button class="load-data" >Загрузить данные</button>-->
      <div class="search-elem">
        <div class="text">Поиск</div>
        <input type="text" placeholder="Search" v-model="titleOne"/>
      </div>
      <AddPostComponent :posts="filteredList"/>
      <table class="table table-strieped">
        <thead>
          <tr>
            <th>
              <button class="default-button" @click="sortByIdMain()">Id</button>
            </th>
            <th>
              <button class="default-button" @click="sortByUserIdMain()">UserId</button>
            </th>
            <th>
              <button class="default-button" @click="sortByTitleIdMain()">Title</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(post, index) in filteredList" :key="index" >
              <td colspan="3">
                <RowComponent class="main-row" :post="post" :posts="filteredList" :index="index"/>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</template>


<script>
// import axios from 'axios';
import { mapGetters, mapActions } from 'vuex'
import RowComponent from "../components/RowComponent";
import AddPostComponent from "../components/AddPostComponent";
// import ButtonComponent from "../components/ButtonComponent";
// import ButtonComponent from '../components/ButtonComponent.vue'

export default {
  data: ()=> ({
    posts: [],
    errors: [],
    selectedCategory: 0,
    titleOne: '',
    sortParam: '',
    columns: ['Id', 'UserId', 'Title'],
    checkSortId: true,
    checkSortTitle: false,
    checkSortUserId: false,
  }),
  created(){
  },
  computed: {
      postsData(){
          return this.posts
      },
      ...mapGetters({getInfo: 'Profile/getInfo', Title: 'Profile/getTitle', UserId: 'Profile/getUserId'}),

      filteredList:function(){
        const title = this.titleOne;
        if(title==='') return this.getInfo;
        return this.getInfo.filter(function(elem){
          return elem.title.indexOf(title)>-1;
        })
      },


  },
  components: {
    AddPostComponent,
    RowComponent
  },
  mounted() {
      this.loadProfile()
          .then(function(response) {
            (response)
          })
          .catch(function(error) {
            console.log(error);
            (error.response.data.errors)
          });
  },
  methods:{
      reverse(){
        this.filteredList('reverse', function (value){
          return value.slice().reverse();
        })
      },


      ...mapActions({loadProfile: 'Profile/loadData'}),

      sortByIdMain(){
        if(this.checkSortId){
          this.checkSortId = !this.checkSortId;
          return this.getInfo.sort(sortById)
        }
        else{
          this.checkSortId = !this.checkSortId;
          return this.getInfo.sort(sortByIdReverse)
        }
      },
      sortByUserIdMain(){
        if(this.checkSortUserId){
          this.checkSortUserId = !this.checkSortUserId;
          return this.getInfo.sort((d1, d2)=>{
            return (d1.userId < d2.userId) ? 1 : -1;
          })
        }
        else{
          this.checkSortUserId = !this.checkSortUserId;
          return this.getInfo.sort(sortByUserIdReverse)
        }
      },
      sortByTitleIdMain(){
        if(this.checkSortTitle){
          this.checkSortTitle = !this.checkSortTitle;
          return this.getInfo.sort(sortByTitle)
        }
        else{
          this.checkSortTitle = !this.checkSortTitle;
          return this.getInfo.sort(sortByTitleReverse)
        }
      },

  },

}

const sortById = function (d1, d2) { return (d1.id < d2.id) ? 1 : -1; };
const sortByTitle = function (d1, d2) { return (d1.title.toLowerCase() > d2.title.toLowerCase()) ? 1 : -1; }
const sortByIdReverse = function (d1, d2) { return (d1.id > d2.id) ? 1 : -1; };
const sortByUserIdReverse = function (d1, d2) { return (d1.userId > d2.userId) ? 1 : -1; };
const sortByTitleReverse = function (d1, d2) { return (d1.title.toLowerCase() < d2.title.toLowerCase()) ? 1 : -1; }
</script>

<style>
.search-elem {

}
.row {
    display: flex;
    flex-direction: row;
}
.default-button{
  border: none;
  width: 70px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin: 0 15px 0 0;

  /*line-height: 30px;*/
  /* or 150% */
  color: #FFFFFF;
  background: #50A900;

  border-radius: 5px;
}
.load-data{
  border: none;
  width: 120px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /*line-height: 30px;*/
  /* or 150% */

  align-items: flex-end;
  text-align: center;

  /*margin: 15px 0 0 0;*/
  color: #FFFFFF;
  background: #50A900;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

a{
  font-weight: normal;
  color: blue;
}
a.active{
  font-weight: bold;
  color: black;
}
input{
  /*margin: 0 490px 0 10px;*/
}
td{
  width: 33%;
}
.main-row{
  column-span: 3;
}
</style>