<template>
  <div>
    <div>
      <table>
        <tr>
          <input type="number" placeholder="Write please Post UserID" v-model="userIdPost"/>
          <input type="text" placeholder="Write please Post Title" v-model="titlePost"/>
          <button @click="addNewPost()">Добавить post</button>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddPostComponent",
  data(){
    return {
      userIdPost: 0,
      titlePost: 'Your title'
    }
  },
  props: ['posts'],
  methods:{
    addNewPost(){
      let post = {
        body: "",
        id: this.posts[length].id + 1,
        title: this.titlePost,
        userId: this.userIdPost
      }
      console.log(post);
      this.posts.push(post);
    }
  }
}
</script>

<style scoped>

input{
  margin: 25px;
}
table {
  width: 100%;
}
</style>