<template>
  <div>
    <tr>
      <td>{{ post.id }}</td>
      <td>{{ post.userId }}</td>
      <td>{{ post.title }}</td>
      <button class="default-button" v-on:click="deleteEvent(index)">Удалить</button>
    </tr>

  </div>
</template>

<script>
export default {
  name: "RowComponent",
  props: ['post', 'posts', 'index'],
  data() {
    return {

    }
  },
  methods:{
    deleteEvent: function(event) {
      console.log(this.post, this.posts.length);
      this.posts.splice(event, 1);
    },
  }
}
</script>

<style scoped>

</style>