<template>
  <div id="app">
    <router-view>
      <TablePage/>
    </router-view>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

import TablePage from "./pages/TablePage";
export default {
  name: 'App',
  components: {
    TablePage
    // HelloWorld
  },
  data(){
    return {
        firstName:'Aleksey',  
        lastName: 'Gryzlov',
        date: '27/6/2002',
        currencyStep: 1
    }
  },
  methods: {  
    nextStep(){
      this.currencyStep++;
    },
    backStep(){
      this.currencyStep--;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
